body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #336699;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

h1, button, .on, .off {
  font-family: 'Dancing Script', cursive;
}

h1 {
  color: #99CCCC;
  margin-bottom: 20px;
  font-size: 24px;
}

button {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

button:hover {
  background-color: #F0F0F0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.on, .off {
  color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 12px;
}

.on {
  left: 4px;
}

.off {
  right: 4px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider .on {
  color: #2196F3;
}

input:not(:checked) + .slider .off {
  color: #ccc;
}
